body{
    margin: 0;
}

li {
    list-style-type: none;
    display: flex;
    padding: 8px 16px; border-bottom: 1px solid #ddd;
    
}
li img{
    margin-right: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}

.head__page{
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
}
.head__page i{
    margin-right: 24px;;
}
.head__page__search{
    display: inline-flex;
    flex-grow: 1;
   justify-content: flex-end;

}

.head__page__input{
    background-color: black;
    border:1px solid black;
    margin-right: 10px;
    color: white;
}
.head__page__input:focus{
    border:1px solid white;
}
.head__page__search__icon{
    align-self: center;
    margin-right: 10px;
}
/* main */
.content__main{
   width: 100vw;
    background-color: #f1f1f1;
}

.container__page{
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 1200px ){
    .container__page {
        max-width: 1165px;
    }
}

.content__row_1{
    background-color: white;
    padding:38px 0 38px 0px;
    text-align: center;
   
   
}
.content__row_1__span{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
   
}

.content__row_text{
    padding: 12px 24px!important;
    position: absolute;
    top: 50%;
    color: white;
}

.content__row_3{
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
   
}
.col-1{
    
    flex-basis:66.666%;
}
.col-2{
    flex-basis:33.333%
}
/* col1 */
.col-11{
    padding: 40px 10px 15px 10px;
}

.col-24__content span{
    background-color: #f1f1f1;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;

}




