body{
    margin: 0;
}
h1 {
    text-align: center;

}
h3 {
    text-align: center;

}
h2 {
    text-align: center;

}

.container__page{
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
   
}

@media (min-width: 1200px ){
    .container__page {
        max-width: 1165px;
    }
}
.content__page{
    background-color: white;
    
}

.box__quiz{
    border: 2px solid black;
    padding: 38px;
    width: 425px;
    
}
.main__page{
display: flex;
justify-content: center;
margin-top: 52px;
height:500px ;
}

#Toast__user{
    color: red;
}
#Toast__password{
    color: red;
}
#Toast__checkPassword{
    color: red;
}
.green_info{
    color: green;
}
#submit{
    color: white;
    background-color: blue;
    border-radius: 10px ;
    border: none;
    padding: 10px 20px;
}
#submit:hover{
    opacity: 0.8;
}