body{
    margin: 0;
}

.container__page{
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-color: white;
    
}

@media (min-width: 1200px ){
    .container__page {
        max-width: 1165px;
    }
}
.content__page{
    background-color: white;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style-type: none;
}

.rp__row5{
    margin-top: 64px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.item__row51{
    width: 48%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
      0 2px 10px 0 rgb(0 0 0 / 12%);
      margin-bottom: 20px;
}

.item__row52{
    width: 48%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
      0 2px 10px 0 rgb(0 0 0 / 12%);
      margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
    .container__page{
        margin-right: 0px;
        margin-left: 0px;
    }
    .rp__row5{
        flex-direction:  column
    }
    .item__row51{
        width: 100%;
    }
    .item__row52{
        width: 100%;
    }

    .rp__row3{
        flex-direction:  column
    }
    .item__row31{
        width: 100%;
    }
    .item__row32{
        width: 100%;
    }

    .rp__row2{
        flex-direction:  column
    }
    .item__row21{
        width: 100%;
    }
    .item__row22{
        width: 100%;
        float: none;
    } 
}

.rp__row3{
    padding: 15px; display: flex;
}
.rp__row31{
    width: 40%;
}
.rp__row32{
    width: 60%;
}

.rp__row2{
    padding: 15px; display: flex;
}

.row21{
    width: 60%;
}
.row22{
    width: 40%;
    float: right;
}
.content__left{
                width: 35%;
              padding: 8px 16px ;
              position: absolute;
              top: 50%;
              left: 0%;
              transform: translate(0%, -50%);
              background-color: black;
              opacity: 0.6;
              border-radius: 8px;
              margin-left: 15px;
              color: white;
}

.content__left__btn{
    background-color: #6f9e64;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0px;
    color: white;
}
.content__right{
    width: 9%;
              padding: 8px 16px;
              position: absolute;
              top: 50%;
              right: 0px;
              transform: translate(0%, -50%);

              border-radius: 8px;
              margin-left: 15px;
}
.content__right__btn{
    color: #6f9e64;
                    background-color: #000;
                    width: 100%;
                    text-align: center;
                    border-radius: 5px;
                    padding: 7px 0px;
                    border: 1px solid black;
}
@media only screen and (max-width: 767px) {
    .content__left{
        width: 100%;
        position: absolute;
        top: 0%;
        background-color: transparent;
        opacity: 1;
        margin: 0px;
        padding: 0px;
        color: white;
        padding-top: 15px;
        border-radius: 0;
    }  
    .text__hiden{
        display: none;
    }
    .content__left__btn{
        background-color: #6f9e64;
        width: 100%;
        text-align: center;
        border-radius: 0px;
        
        border: none;
        padding: 7px 0px;
        color: white;
    }

    .content__right__btn{
        background-color: #000;
        width: 100%;
        text-align: center;
        border-radius: 0px;
        
        border: none;
        padding: 7px 0px;
        
    }

    .content__right{
        width: 100%;
        position: absolute;
       
        top: 100%;
       
        
        margin: 0px;
        padding: 0px;
        color: white;
        
        
    }  
}
